{% extends "base.html" %}
    {% block content %}
      <h1>All Done!</h1>
      <div class="row">
      <p>Congrats! You have successfully created a new team with the name: {{ team }}. <br />
      You have been assigned as a coordinator with nickname: {{ coordinator }}. <br />
      {{ schedule }} <br />
      The following teammates have been invited:</p>
        <ul>
          {% for name, email in mates  %}
            <li>{{ name }}
              {% if email %} ({{ email }}){% endif %}</li>
          {% endfor %}
        </ul>
    {% endblock %}
