{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<h1>{% block step_title %}{% endblock %}</h1>

<div class="row">
    {% block step_description %}{% endblock %}
</div>
<div class="row">
    <div class="col-lg-12">
        <form action="" method="post">{% csrf_token %}
            <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {{ wizard.form.non_field_errors }}
                    {{ wizard.form.errors }}
                    {% for form in wizard.form.forms %}
                        {{ form }}
                    {% endfor %}
                {% else %}
                    {{ wizard.form }}
                {% endif %}
            </table>
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
            {% endif %}
            <input type="submit" value="{% trans "submit" %}"/>
        </form>
    </div>
</div>
{% endblock %}