{% extends "teams/team_wizard.html" %}
{% load account %}
{% load account socialaccount %}
{% load i18n %}



{% block step_title %}
    Getting to know you...
{% endblock %}

{% block step_description %}
    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}In order to control your team, we're going to need some way to identify you.
        To simplify the process, we support a variety of third party accounts along with the traditional username/password approach.
        To make a new account, visit our <a href="{{ signup_url }}">sign up</a> page.
        Otherwise, sign in below!{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>

        <div class="login-or">{% trans 'or' %}</div>
    {% else %}
    {% endif %}

{% endblock %}

